nav {
            text-align: center;
        }
 a {
     color:#006699;
     text-decoration: none;
    }
a:visited {
    color:#006600;
}
body {
    background-color:#ffff00;
    font-family: arial;
}
header {
    text-align: center;
    text-shadow: 10px 10px 5px #999999;
    line-height: 75px;
    background-color:#ccffff;
}
section {
    padding: 10px;
    background-color:#ffff99;
}