body {
    background-color:#999999;
}
#wrap {
    padding: 10px;
    border-radius: 10px;
    width: 900px;
    margin-top: 5px;
    background-color:#cdcdcd;
    margin: 0 auto;
}
header{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
#content {
    width: 800px;
    margin-top: 20px;
    margin: 0 auto;
}
aside {
    width: 200px;
    margin: 0 auto;
}
#left {
    float: left;
}
#right {
    float: right;
}
img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}
h1 {
    color:#000099;
    text-align: center;
}
h2 {
    color:#000099;
    text-align: center;
}
nav {
    padding: 10px;
    border-radius: 10px;
    background-color:#ccccff;
    width: 800px;
    margin-bottom: 0px;
    text-align: center;
    margin: 0 auto;
}
a {
    color:#777777;
    text-decoration: none;
}
article {
    padding: 5px;
    border-radius: 10px;
    width: 325px;
    background-color:#ffffcc;
    margin: auto;
}