article {
    width: 325px;
    background-color: #555555;
    border-radius: 5px;
    color: #cdcdcd;
    padding: 5px;
    float: left;
}
aside {
    width: 550px;
    height: 379px;
    background-image: url(tv.gif);
    float: right;
}
body {
    background-color: #cdcdcd;
    font-family: Arial;
    font-size: 10pt;
}
header {
    width: 750px;
    margin: auto;
}
video {
    position: relative;
    top: 65px;
    left: 75px;
    width: 280px;
    height: 200px;
}
p {
    text-align: justify;
}
section {
    width: 900px;
    margin: auto;
}